<settings>
    <profiles>
        <profile>
            <id>platestack</id>
            <repositories>
                <repository>
                    <id>jitpack.io</id>
                    <name>Maven Repository for open source libraries</name>
                    <url>https://jitpack.io</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>platestack</activeProfile>
    </activeProfiles>
</settings>
